code/node-red/modbus_hmi.json
[
  {
    "id": "d1f182ed52619746",
    "type": "tab",
    "label": "IIOT WKS - MODBUS HMI",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "aca6074167149c0f",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "HMI STATUS LEDS",
    "info": "",
    "x": 130,
    "y": 420,
    "wires": []
  },
  {
    "id": "74d6d412b51485a3",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 1",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "1",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 390,
    "y": 420,
    "wires": [
      [
        "6fa950e56e117543"
      ]
    ]
  },
  {
    "id": "6fa950e56e117543",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Write Coil",
    "func": "var ledStatus = msg.payload;\nvar ledAddress = parseInt(msg.topic) - 1;\nmsg.payload = {\n    'fc':5, // function code\n    'unitid': 1,\n    'address': ledAddress,\n    'quantity': 1,\n    'value': ledStatus\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 540,
    "wires": [
      [
        "db88f736336ea803"
      ]
    ]
  },
  {
    "id": "f8c92441a56873d0",
    "type": "modbus-response",
    "z": "d1f182ed52619746",
    "name": "",
    "registerShowMax": 20,
    "x": 1090,
    "y": 660,
    "wires": []
  },
  {
    "id": "db88f736336ea803",
    "type": "modbus-flex-write",
    "z": "d1f182ed52619746",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "server": "afc1ae1ab2902065",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 790,
    "y": 540,
    "wires": [
      [],
      [
        "f8c92441a56873d0",
        "58ecda98f009e2df"
      ]
    ]
  },
  {
    "id": "7a14cbcaa6c23c97",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 2",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "2",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 390,
    "y": 480,
    "wires": [
      [
        "6fa950e56e117543"
      ]
    ]
  },
  {
    "id": "550d57ce5d3d211d",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 3",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "3",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 390,
    "y": 540,
    "wires": [
      [
        "6fa950e56e117543"
      ]
    ]
  },
  {
    "id": "027c0dfecc976615",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 4",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "4",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 390,
    "y": 600,
    "wires": [
      [
        "6fa950e56e117543"
      ]
    ]
  },
  {
    "id": "45590134560c6e2b",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 5",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "5",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 390,
    "y": 660,
    "wires": [
      [
        "6fa950e56e117543"
      ]
    ]
  },
  {
    "id": "58ecda98f009e2df",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "LED Indicators",
    "func": "var light = \"\"\nif (msg.values.value){\n    light = \"green\"\n}else{\n    light = \"\"\n}\nvar address = msg.values.address\nmsg = {\n    'payload': light\n}\nswitch (address) {\n  case 0:\n    return [msg,null,null,null,null];\n    break;\n  case 1:\n    return [null,msg,null,null,null];\n    break;\n  case 2:\n    return [null, null,msg,null,null];\n    break;\n  case 3:\n    return [null,null,null,msg,null];\n    break;\n  case 4:\n    return [null,null,null,null,msg];\n    break;\n  default:\n    // Do nothing\n}\n",
    "outputs": 5,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 540,
    "wires": [
      [
        "9c73e9275ee40d6e"
      ],
      [
        "43fa361dbfb640c7"
      ],
      [
        "f2763860ab48dca6"
      ],
      [
        "50e9371add43d979"
      ],
      [
        "69887aeb42681fa5"
      ]
    ],
    "icon": "node-red/light.svg"
  },
  {
    "id": "9c73e9275ee40d6e",
    "type": "ui_colour_picker",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 1",
    "group": "b2c9b73f960204ef",
    "format": "hex",
    "outformat": "string",
    "showSwatch": true,
    "showPicker": false,
    "showValue": false,
    "showHue": false,
    "showAlpha": false,
    "showLightness": true,
    "square": "false",
    "dynOutput": "false",
    "order": 2,
    "width": "1",
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "className": "",
    "x": 1350,
    "y": 480,
    "wires": [
      []
    ],
    "icon": "node-red/light.svg"
  },
  {
    "id": "43fa361dbfb640c7",
    "type": "ui_colour_picker",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 2",
    "group": "b2c9b73f960204ef",
    "format": "hex",
    "outformat": "string",
    "showSwatch": true,
    "showPicker": false,
    "showValue": false,
    "showHue": false,
    "showAlpha": false,
    "showLightness": true,
    "square": "false",
    "dynOutput": "false",
    "order": 2,
    "width": "1",
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "className": "",
    "x": 1350,
    "y": 520,
    "wires": [
      []
    ],
    "icon": "node-red/light.svg"
  },
  {
    "id": "f2763860ab48dca6",
    "type": "ui_colour_picker",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 3",
    "group": "b2c9b73f960204ef",
    "format": "hex",
    "outformat": "string",
    "showSwatch": true,
    "showPicker": false,
    "showValue": false,
    "showHue": false,
    "showAlpha": false,
    "showLightness": true,
    "square": "false",
    "dynOutput": "false",
    "order": 2,
    "width": "1",
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "className": "",
    "x": 1350,
    "y": 560,
    "wires": [
      []
    ],
    "icon": "node-red/light.svg"
  },
  {
    "id": "50e9371add43d979",
    "type": "ui_colour_picker",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 4",
    "group": "b2c9b73f960204ef",
    "format": "hex",
    "outformat": "string",
    "showSwatch": true,
    "showPicker": false,
    "showValue": false,
    "showHue": false,
    "showAlpha": false,
    "showLightness": true,
    "square": "false",
    "dynOutput": "false",
    "order": 2,
    "width": "1",
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "className": "",
    "x": 1350,
    "y": 600,
    "wires": [
      []
    ],
    "icon": "node-red/light.svg"
  },
  {
    "id": "69887aeb42681fa5",
    "type": "ui_colour_picker",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "LED 5",
    "group": "b2c9b73f960204ef",
    "format": "hex",
    "outformat": "string",
    "showSwatch": true,
    "showPicker": false,
    "showValue": false,
    "showHue": false,
    "showAlpha": false,
    "showLightness": true,
    "square": "false",
    "dynOutput": "false",
    "order": 2,
    "width": "1",
    "height": 1,
    "passthru": false,
    "topic": "",
    "topicType": "str",
    "className": "",
    "x": 1350,
    "y": 640,
    "wires": [
      []
    ],
    "icon": "node-red/light.svg"
  },
  {
    "id": "309410be9a80b976",
    "type": "ui_slider",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "Update Interval [s]",
    "tooltip": "",
    "group": "7cbaf04f.bb57a",
    "order": 0,
    "width": "0",
    "height": "0",
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": "1",
    "max": "10",
    "step": "1",
    "className": "",
    "x": 270,
    "y": 840,
    "wires": [
      [
        "964fdd5ad06352e5"
      ]
    ]
  },
  {
    "id": "964fdd5ad06352e5",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Write Holding",
    "func": "var updateInterval = msg.payload*1000;\nmsg.payload = {\n    'fc':6, // function code\n    'unitid': 1,\n    'address': 400,\n    'quantity': 1,\n    'value': updateInterval\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 840,
    "wires": [
      [
        "f9c9ca34def88137"
      ]
    ]
  },
  {
    "id": "f9c9ca34def88137",
    "type": "modbus-flex-write",
    "z": "d1f182ed52619746",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "server": "afc1ae1ab2902065",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 690,
    "y": 840,
    "wires": [
      [],
      [
        "f03ed423e1c05c6d",
        "cc66a36ad2a5d244"
      ]
    ]
  },
  {
    "id": "e35e09bfc5e702a0",
    "type": "ui_chart",
    "z": "d1f182ed52619746",
    "name": "Humidity",
    "group": "e24a3bf2257242a5",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1280,
    "y": 1140,
    "wires": [
      []
    ]
  },
  {
    "id": "c0d7baf69e51ae8c",
    "type": "ui_gauge",
    "z": "d1f182ed52619746",
    "name": "Temperature",
    "group": "9ff769e6fe78b2f3",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "40",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1290,
    "y": 1180,
    "wires": []
  },
  {
    "id": "c0aa5bbaaced0f4d",
    "type": "inject",
    "z": "d1f182ed52619746",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 1120,
    "wires": [
      [
        "58a3f4a8177c1c82"
      ]
    ]
  },
  {
    "id": "329ab71f360e756b",
    "type": "modbus-flex-getter",
    "z": "d1f182ed52619746",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "server": "afc1ae1ab2902065",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 810,
    "y": 1120,
    "wires": [
      [],
      [
        "262b700595afbdfc",
        "6f862add949290e2"
      ]
    ]
  },
  {
    "id": "0367c2333d6b3d4f",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Read Sensor Variables",
    "func": "msg.payload = {\n    'fc': 4, // function code\n    'unitid': 1,\n    'address': 100,\n    'quantity': 2\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "var msg = {\n    'payload': {\n        'fc': 4, // function code\n        'unitid': 1,\n        'address': 100,\n        'quantity': 2\n    }\n}\nreturn msg;",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 1120,
    "wires": [
      [
        "329ab71f360e756b"
      ]
    ]
  },
  {
    "id": "262b700595afbdfc",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Process Readings",
    "func": "var humidity = msg.payload.data[0] / 100;\nvar temperature = msg.payload.data[1] / 100;\n\nvar hMsg = {\n    'payload': humidity\n};\nvar tMsg = {\n    'payload': temperature\n};\nreturn [hMsg,tMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1050,
    "y": 1160,
    "wires": [
      [
        "02cef7f8ba683fd4",
        "e35e09bfc5e702a0"
      ],
      [
        "c0d7baf69e51ae8c",
        "284613a1b3179960"
      ]
    ]
  },
  {
    "id": "02cef7f8ba683fd4",
    "type": "ui_gauge",
    "z": "d1f182ed52619746",
    "name": "Humidity",
    "group": "e24a3bf2257242a5",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1280,
    "y": 1100,
    "wires": []
  },
  {
    "id": "284613a1b3179960",
    "type": "ui_chart",
    "z": "d1f182ed52619746",
    "name": "Temperature",
    "group": "9ff769e6fe78b2f3",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "40",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1290,
    "y": 1220,
    "wires": [
      []
    ]
  },
  {
    "id": "58a3f4a8177c1c82",
    "type": "delay",
    "z": "d1f182ed52619746",
    "name": "Update Interval",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": true,
    "outputs": 1,
    "x": 360,
    "y": 1120,
    "wires": [
      [
        "0367c2333d6b3d4f"
      ]
    ]
  },
  {
    "id": "f03ed423e1c05c6d",
    "type": "link out",
    "z": "d1f182ed52619746",
    "name": "link out 1",
    "mode": "link",
    "links": [
      "f523255bfbfd667e"
    ],
    "x": 875,
    "y": 820,
    "wires": []
  },
  {
    "id": "f523255bfbfd667e",
    "type": "link in",
    "z": "d1f182ed52619746",
    "name": "Update Interval Delay",
    "links": [
      "f03ed423e1c05c6d"
    ],
    "x": 95,
    "y": 1040,
    "wires": [
      [
        "4e8cce46a5ead3a7"
      ]
    ]
  },
  {
    "id": "6f862add949290e2",
    "type": "modbus-response",
    "z": "d1f182ed52619746",
    "name": "",
    "registerShowMax": 20,
    "x": 1050,
    "y": 1080,
    "wires": []
  },
  {
    "id": "4e8cce46a5ead3a7",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Set Update Rate",
    "func": "var rate = msg.payload.value\n\nmsg = {\n    'rate':rate\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 230,
    "y": 1040,
    "wires": [
      [
        "58a3f4a8177c1c82"
      ]
    ]
  },
  {
    "id": "ab4a3ab2a484456e",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "HMI INITIALIZATION",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "40093babfd1ece59",
    "type": "modbus-flex-getter",
    "z": "d1f182ed52619746",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "server": "afc1ae1ab2902065",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 410,
    "y": 160,
    "wires": [
      [],
      [
        "228001c4fffa5a12",
        "26e1b8adc07aba58"
      ]
    ]
  },
  {
    "id": "cf118fdea2e1c2e9",
    "type": "inject",
    "z": "d1f182ed52619746",
    "name": "Initialize Update Interval",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "init",
    "payload": "{\"fc\":3,\"unitid\":1,\"address\":400,\"quantity\":1}",
    "payloadType": "json",
    "x": 190,
    "y": 160,
    "wires": [
      [
        "40093babfd1ece59"
      ]
    ]
  },
  {
    "id": "228001c4fffa5a12",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Adapt",
    "func": "var updateInterval = msg.payload.data[0]\nvar msg1 ={\n    \"payload\": updateInterval / 1000\n}\nvar msg2 ={\n    \"payload\": {\n        \"value\": updateInterval\n    }\n}\n\nreturn [msg1,msg2];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 100,
    "wires": [
      [
        "e8a1394654c49bb9"
      ],
      [
        "c06f9560feeb1208"
      ]
    ]
  },
  {
    "id": "ee52c9ca3cb5bd13",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "Update Interval",
    "info": "",
    "x": 160,
    "y": 100,
    "wires": []
  },
  {
    "id": "e8a1394654c49bb9",
    "type": "link out",
    "z": "d1f182ed52619746",
    "name": "Update Interval Dashboard",
    "mode": "link",
    "links": [
      "1b9d23eca5d20f26"
    ],
    "x": 755,
    "y": 80,
    "wires": []
  },
  {
    "id": "c06f9560feeb1208",
    "type": "link out",
    "z": "d1f182ed52619746",
    "name": "Update Interval Delay",
    "mode": "link",
    "links": [],
    "x": 755,
    "y": 120,
    "wires": []
  },
  {
    "id": "1b9d23eca5d20f26",
    "type": "link in",
    "z": "d1f182ed52619746",
    "name": "Update Interval Dashboard",
    "links": [
      "e8a1394654c49bb9"
    ],
    "x": 95,
    "y": 840,
    "wires": [
      [
        "309410be9a80b976"
      ]
    ]
  },
  {
    "id": "26e1b8adc07aba58",
    "type": "modbus-response",
    "z": "d1f182ed52619746",
    "name": "",
    "registerShowMax": 20,
    "x": 850,
    "y": 220,
    "wires": []
  },
  {
    "id": "dcefde4856bf8a8a",
    "type": "modbus-flex-getter",
    "z": "d1f182ed52619746",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "server": "afc1ae1ab2902065",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 410,
    "y": 280,
    "wires": [
      [
        "8af2b2ab8d24f1cf"
      ],
      [
        "26e1b8adc07aba58",
        "a13071fad81d45f6"
      ]
    ]
  },
  {
    "id": "d28b0b681431a620",
    "type": "inject",
    "z": "d1f182ed52619746",
    "name": "Initialize LEDs",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "payload": "{\"fc\":1,\"unitid\":1,\"address\":0,\"quantity\":5}",
    "payloadType": "json",
    "x": 160,
    "y": 280,
    "wires": [
      [
        "dcefde4856bf8a8a"
      ]
    ]
  },
  {
    "id": "10c95a320ae5a1ea",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "LEDs",
    "info": "",
    "x": 130,
    "y": 240,
    "wires": []
  },
  {
    "id": "a13071fad81d45f6",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "LED Initialize",
    "func": "var ledStatus = msg.payload.data.slice(0, 5);\n\nfor (let i = 0; i < ledStatus.length; i++) {\n  let msg1 = {\n    \"payload\":ledStatus[i],\n    \"topic\":i\n  };\n  let msg2 = {\n    \"values\":{\n      \"value\":ledStatus[i],\n      \"address\":i\n    }\n  };\n  node.send([msg1, msg2]);\n};",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 320,
    "wires": [
      [
        "d433c52b61e9c96b"
      ],
      [
        "76067c7fbffcd811"
      ]
    ],
    "icon": "node-red/light.svg"
  },
  {
    "id": "d433c52b61e9c96b",
    "type": "link out",
    "z": "d1f182ed52619746",
    "name": "LED Switches",
    "mode": "link",
    "links": [
      "5e8f824a8528297f"
    ],
    "x": 775,
    "y": 300,
    "wires": []
  },
  {
    "id": "76067c7fbffcd811",
    "type": "link out",
    "z": "d1f182ed52619746",
    "name": "LED Indicators",
    "mode": "link",
    "links": [
      "e20a2eb220a4a1e2"
    ],
    "x": 775,
    "y": 340,
    "wires": []
  },
  {
    "id": "5e8f824a8528297f",
    "type": "link in",
    "z": "d1f182ed52619746",
    "name": "LED Switches",
    "links": [
      "d433c52b61e9c96b"
    ],
    "x": 55,
    "y": 540,
    "wires": [
      [
        "cafc756cbc3f613b"
      ]
    ]
  },
  {
    "id": "e20a2eb220a4a1e2",
    "type": "link in",
    "z": "d1f182ed52619746",
    "name": "LED Indicators",
    "links": [
      "76067c7fbffcd811"
    ],
    "x": 975,
    "y": 480,
    "wires": [
      [
        "58ecda98f009e2df"
      ]
    ]
  },
  {
    "id": "cafc756cbc3f613b",
    "type": "switch",
    "z": "d1f182ed52619746",
    "name": "Initialization",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 170,
    "y": 540,
    "wires": [
      [
        "74d6d412b51485a3"
      ],
      [
        "7a14cbcaa6c23c97"
      ],
      [
        "550d57ce5d3d211d"
      ],
      [
        "027c0dfecc976615"
      ],
      [
        "45590134560c6e2b"
      ]
    ]
  },
  {
    "id": "861c2e273877f755",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "HMI UPDATE INTERVAL",
    "info": "",
    "x": 150,
    "y": 760,
    "wires": []
  },
  {
    "id": "cedc36db16846cc5",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "HMI SENSOR MEASUREMENTS",
    "info": "",
    "x": 180,
    "y": 960,
    "wires": []
  },
  {
    "id": "cc66a36ad2a5d244",
    "type": "modbus-response",
    "z": "d1f182ed52619746",
    "name": "",
    "registerShowMax": 20,
    "x": 950,
    "y": 860,
    "wires": []
  },
  {
    "id": "8af2b2ab8d24f1cf",
    "type": "debug",
    "z": "d1f182ed52619746",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 380,
    "wires": []
  },
  {
    "id": "5c599356.2d8a4c",
    "type": "ui_group",
    "name": "LED STATUS",
    "tab": "e8f17e8683d21bf3",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "afc1ae1ab2902065",
    "type": "modbus-client",
    "name": "Controllino",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "10.0.0.1",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "b2c9b73f960204ef",
    "type": "ui_group",
    "name": "",
    "tab": "e8f17e8683d21bf3",
    "order": 2,
    "disp": true,
    "width": "1",
    "collapse": false,
    "className": ""
  },
  {
    "id": "7cbaf04f.bb57a",
    "type": "ui_group",
    "name": "CONFIGURATION",
    "tab": "e8f17e8683d21bf3",
    "order": 3,
    "disp": true,
    "width": "7",
    "collapse": false,
    "className": ""
  },
  {
    "id": "e24a3bf2257242a5",
    "type": "ui_group",
    "name": "HUMIDITY",
    "tab": "e8f17e8683d21bf3",
    "order": 5,
    "disp": true,
    "width": "7",
    "collapse": false,
    "className": ""
  },
  {
    "id": "9ff769e6fe78b2f3",
    "type": "ui_group",
    "name": "TEMPERATURE",
    "tab": "e8f17e8683d21bf3",
    "order": 4,
    "disp": true,
    "width": "7",
    "collapse": false,
    "className": ""
  },
  {
    "id": "e8f17e8683d21bf3",
    "type": "ui_tab",
    "name": "HMI",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
