code/node-red/nodered_modbus_hmi.json
[
  {
    "id": "d1f182ed52619746",
    "type": "tab",
    "label": "IIOT WKS - MODBUS HMI",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "aca6074167149c0f",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "HMI SENSOR ACTIVATION",
    "info": "",
    "x": 160,
    "y": 60,
    "wires": []
  },
  {
    "id": "309410be9a80b976",
    "type": "ui_slider",
    "z": "d1f182ed52619746",
    "name": "",
    "label": "Sampling Interval [s]",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 6,
    "width": "0",
    "height": "0",
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": "1",
    "max": "10",
    "step": "1",
    "className": "",
    "x": 140,
    "y": 500,
    "wires": [
      [
        "964fdd5ad06352e5"
      ]
    ]
  },
  {
    "id": "964fdd5ad06352e5",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Write Holding",
    "func": "if (msg.disableWrite) {\n    return null;\n} else {\n    var updateInterval = msg.payload * 1000;\n    var modbusAddress = 20\n    msg.payload = {\n        'fc': 6, // function code\n        'unitid': 1,\n        'address': modbusAddress,\n        'quantity': 1,\n        'value': updateInterval\n    }\n    return msg\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 500,
    "wires": [
      [
        "f9c9ca34def88137"
      ]
    ]
  },
  {
    "id": "f9c9ca34def88137",
    "type": "modbus-flex-write",
    "z": "d1f182ed52619746",
    "name": "Modbus Write Sampling Interval",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "server": "afc1ae1ab2902065",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 830,
    "y": 500,
    "wires": [
      [],
      [
        "0a22d12a6ec02ad1"
      ]
    ]
  },
  {
    "id": "c0d7baf69e51ae8c",
    "type": "ui_gauge",
    "z": "d1f182ed52619746",
    "name": "Input Temperature",
    "group": "9ff769e6fe78b2f3",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Input Temperature",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1370,
    "y": 740,
    "wires": []
  },
  {
    "id": "c0aa5bbaaced0f4d",
    "type": "inject",
    "z": "d1f182ed52619746",
    "name": "Every Second",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "x": 140,
    "y": 900,
    "wires": [
      [
        "58a3f4a8177c1c82"
      ]
    ]
  },
  {
    "id": "329ab71f360e756b",
    "type": "modbus-flex-getter",
    "z": "d1f182ed52619746",
    "name": "Modbus Read Sensors",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "server": "afc1ae1ab2902065",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 820,
    "y": 900,
    "wires": [
      [],
      [
        "262b700595afbdfc"
      ]
    ]
  },
  {
    "id": "0367c2333d6b3d4f",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Read Sensor Variables",
    "func": "var modbusAddress = 10\n\nmsg.payload = {\n    'fc': 4, // function code\n    'unitid': 1,\n    'address': modbusAddress,\n    'quantity': 5\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "var msg = {\n    'payload': {\n        'fc': 4, // function code\n        'unitid': 1,\n        'address': 100,\n        'quantity': 2\n    }\n}\nreturn msg;",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 900,
    "wires": [
      [
        "329ab71f360e756b"
      ]
    ]
  },
  {
    "id": "262b700595afbdfc",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Process Readings",
    "func": "var sensorScales = [\n    100,\n    100,\n    100,\n    10,\n    1000\n]\n\nvar msgs = []\n\nmsg.payload.data.forEach((item, index) => {\n    msgs.push({\n        \"payload\": item/sensorScales[index]\n    })\n});\n\nreturn msgs;",
    "outputs": 5,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1070,
    "y": 900,
    "wires": [
      [
        "c0d7baf69e51ae8c",
        "284613a1b3179960"
      ],
      [
        "3742a6bba250f60d",
        "c31f3964ede32320"
      ],
      [
        "0ea1a2f607ac34e9",
        "e9064f45728932d0"
      ],
      [
        "77775a1f817cba16",
        "3d3a87349e0737bb"
      ],
      [
        "4ea727f974109f06",
        "c9bd6361f5060b85"
      ]
    ]
  },
  {
    "id": "284613a1b3179960",
    "type": "ui_chart",
    "z": "d1f182ed52619746",
    "name": "Input Temperature",
    "group": "9ff769e6fe78b2f3",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "80",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1370,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "58a3f4a8177c1c82",
    "type": "delay",
    "z": "d1f182ed52619746",
    "name": "Update Interval",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": true,
    "outputs": 1,
    "x": 360,
    "y": 900,
    "wires": [
      [
        "0367c2333d6b3d4f"
      ]
    ]
  },
  {
    "id": "f03ed423e1c05c6d",
    "type": "link out",
    "z": "d1f182ed52619746",
    "name": "Sampling Interval Delay",
    "mode": "link",
    "links": [
      "f523255bfbfd667e"
    ],
    "x": 1325,
    "y": 580,
    "wires": []
  },
  {
    "id": "f523255bfbfd667e",
    "type": "link in",
    "z": "d1f182ed52619746",
    "name": "Sampling Interval Delay",
    "links": [
      "c06f9560feeb1208",
      "f03ed423e1c05c6d"
    ],
    "x": 55,
    "y": 840,
    "wires": [
      [
        "58a3f4a8177c1c82"
      ]
    ]
  },
  {
    "id": "861c2e273877f755",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "HMI SAMPLING INTERVAL",
    "info": "",
    "x": 160,
    "y": 420,
    "wires": []
  },
  {
    "id": "cedc36db16846cc5",
    "type": "comment",
    "z": "d1f182ed52619746",
    "name": "HMI SENSOR MEASUREMENTS",
    "info": "",
    "x": 180,
    "y": 740,
    "wires": []
  },
  {
    "id": "3742a6bba250f60d",
    "type": "ui_gauge",
    "z": "d1f182ed52619746",
    "name": "Output Temperature",
    "group": "9ff769e6fe78b2f3",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Output Temperature",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1380,
    "y": 820,
    "wires": []
  },
  {
    "id": "c31f3964ede32320",
    "type": "ui_chart",
    "z": "d1f182ed52619746",
    "name": "Output Temperature",
    "group": "9ff769e6fe78b2f3",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "80",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1380,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "0ea1a2f607ac34e9",
    "type": "ui_gauge",
    "z": "d1f182ed52619746",
    "name": "Flow Rate",
    "group": "e24a3bf2257242a5",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "m3/h",
    "format": "{{value}}",
    "min": 0,
    "max": "240",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1340,
    "y": 900,
    "wires": []
  },
  {
    "id": "e9064f45728932d0",
    "type": "ui_chart",
    "z": "d1f182ed52619746",
    "name": "Flow Rate",
    "group": "e24a3bf2257242a5",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "240",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1340,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "77775a1f817cba16",
    "type": "ui_gauge",
    "z": "d1f182ed52619746",
    "name": "Pressure",
    "group": "14635e4a1b2f8b3c",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "bar",
    "format": "{{value}}",
    "min": 0,
    "max": "10",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1340,
    "y": 980,
    "wires": []
  },
  {
    "id": "3d3a87349e0737bb",
    "type": "ui_chart",
    "z": "d1f182ed52619746",
    "name": "Pressure",
    "group": "14635e4a1b2f8b3c",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "10",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1340,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "4ea727f974109f06",
    "type": "ui_gauge",
    "z": "d1f182ed52619746",
    "name": "Power",
    "group": "660f25f742db3ccb",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "kW",
    "format": "{{value}}",
    "min": 0,
    "max": "1",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1330,
    "y": 1060,
    "wires": []
  },
  {
    "id": "c9bd6361f5060b85",
    "type": "ui_chart",
    "z": "d1f182ed52619746",
    "name": "Power",
    "group": "660f25f742db3ccb",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "1",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1330,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "f66b47da49b7f831",
    "type": "inject",
    "z": "d1f182ed52619746",
    "name": "Every Second",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 580,
    "wires": [
      [
        "6dc38f0437206182"
      ]
    ]
  },
  {
    "id": "39e390359a179272",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Set Sampling Interval",
    "func": "// Convert UInt8Array to number, each memory register takes 8 buffer spaces\nlet updateInterval = msg.payload[0]\n\n// Dashboard Update\nvar msg1 ={\n    \"payload\": updateInterval / 1000,\n    \"disableWrite\": true\n}\n\n// Delay Node Update\nvar msg2 = {\n    \"rate\": updateInterval\n}\n\nreturn [msg1,msg2];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 580,
    "wires": [
      [
        "309410be9a80b976"
      ],
      [
        "f03ed423e1c05c6d"
      ]
    ]
  },
  {
    "id": "6dc38f0437206182",
    "type": "modbus-getter",
    "z": "d1f182ed52619746",
    "name": "Modbus Read Sensors",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "20",
    "quantity": "1",
    "server": "afc1ae1ab2902065",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 420,
    "y": 580,
    "wires": [
      [
        "39e390359a179272"
      ],
      []
    ]
  },
  {
    "id": "0a22d12a6ec02ad1",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Set Sampling Interval",
    "func": "msg = {\n    \"rate\": msg.payload.value\n}\n\nreturn msg;",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1120,
    "y": 500,
    "wires": [
      [
        "f03ed423e1c05c6d"
      ],
      []
    ]
  },
  {
    "id": "2629b4dbbe225bc3",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "Activate Input Temperature",
    "label": "Input Temperature",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 1060,
    "y": 100,
    "wires": [
      [
        "d988c48692c5696d"
      ]
    ]
  },
  {
    "id": "c6c28ee5b5c12d22",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "Activate Output Temperature",
    "label": "Output Temperature",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 1060,
    "y": 160,
    "wires": [
      [
        "d988c48692c5696d"
      ]
    ]
  },
  {
    "id": "f5182ec64cc6ac4c",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "Activate Flow Rate",
    "label": "Flow Rate",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 1030,
    "y": 220,
    "wires": [
      [
        "d988c48692c5696d"
      ]
    ]
  },
  {
    "id": "266380613e13fecf",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "Activate Pressure",
    "label": "Pressure",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 1030,
    "y": 280,
    "wires": [
      [
        "d988c48692c5696d"
      ]
    ]
  },
  {
    "id": "01a0bbe97d2425f0",
    "type": "ui_switch",
    "z": "d1f182ed52619746",
    "name": "Activate Power",
    "label": "Power",
    "tooltip": "",
    "group": "5c599356.2d8a4c",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 1020,
    "y": 340,
    "wires": [
      [
        "d988c48692c5696d"
      ]
    ]
  },
  {
    "id": "d988c48692c5696d",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Write Coil",
    "func": "if(msg.disableWrite){\n    return null;\n}else{\n    var modbusAddresses = {\n        \"active_input_temperature\": 0,\n        \"active_output_temperature\": 1,\n        \"active_flow_rate\": 2,\n        \"active_pressure\": 3,\n        \"active_power\": 4\n    }\n    msg.payload = {\n        'fc': 5, // function code\n        'unitid': 1,\n        'address': modbusAddresses[msg.topic],\n        'quantity': 1,\n        'value': msg.payload\n    }\n    return msg\n}\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1320,
    "y": 240,
    "wires": [
      [
        "c3a37620d1ee3d73"
      ]
    ]
  },
  {
    "id": "3842face7665f322",
    "type": "switch",
    "z": "d1f182ed52619746",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "active_input_temperature",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "active_output_temperature",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "active_flow_rate",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "active_pressure",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "active_power",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 810,
    "y": 220,
    "wires": [
      [
        "2629b4dbbe225bc3"
      ],
      [
        "c6c28ee5b5c12d22"
      ],
      [
        "f5182ec64cc6ac4c"
      ],
      [
        "266380613e13fecf"
      ],
      [
        "01a0bbe97d2425f0"
      ]
    ]
  },
  {
    "id": "fe2c74be71b2775c",
    "type": "function",
    "z": "d1f182ed52619746",
    "name": "Set Sensor Activation",
    "func": "var values = msg.payload\nvar sensorStatus = {\n    \"active_input_temperature\": 0,\n    \"active_output_temperature\": 1,\n    \"active_flow_rate\": 2,\n    \"active_pressure\": 3,\n    \"active_power\": 4\n}\n\nvar msgs = []\nfor (let key in sensorStatus ){    \n    let msg = {\n        \"payload\": values[sensorStatus[key]],\n        \"topic\": key,\n        \"disableWrite\": true\n    }\n    msgs.push(msg)\n}\n\nreturn [msgs];",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 220,
    "wires": [
      [
        "3842face7665f322"
      ]
    ]
  },
  {
    "id": "c1c0bbedd1c5fac6",
    "type": "inject",
    "z": "d1f182ed52619746",
    "name": "Every Second",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 220,
    "wires": [
      [
        "0da89c872872ed30"
      ]
    ]
  },
  {
    "id": "0da89c872872ed30",
    "type": "modbus-getter",
    "z": "d1f182ed52619746",
    "name": "Modbus Read Coils",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "",
    "dataType": "Coil",
    "adr": "0",
    "quantity": "5",
    "server": "afc1ae1ab2902065",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 370,
    "y": 220,
    "wires": [
      [
        "fe2c74be71b2775c"
      ],
      []
    ]
  },
  {
    "id": "c3a37620d1ee3d73",
    "type": "modbus-flex-write",
    "z": "d1f182ed52619746",
    "name": "Modbus Write Sensor Activation",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "server": "afc1ae1ab2902065",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 1550,
    "y": 240,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "5c599356.2d8a4c",
    "type": "ui_group",
    "name": "CONFIGURATION",
    "tab": "e8f17e8683d21bf3",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "afc1ae1ab2902065",
    "type": "modbus-client",
    "name": "PLC Modbus Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "localhost",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "9ff769e6fe78b2f3",
    "type": "ui_group",
    "name": "TEMPERATURE",
    "tab": "e8f17e8683d21bf3",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "e24a3bf2257242a5",
    "type": "ui_group",
    "name": "FLOW RATE",
    "tab": "e8f17e8683d21bf3",
    "order": 5,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "14635e4a1b2f8b3c",
    "type": "ui_group",
    "name": "PRESSURE",
    "tab": "e8f17e8683d21bf3",
    "order": 5,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "660f25f742db3ccb",
    "type": "ui_group",
    "name": "POWER",
    "tab": "e8f17e8683d21bf3",
    "order": 6,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "e8f17e8683d21bf3",
    "type": "ui_tab",
    "name": "HMI",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
