code/node-red/nodered_virtualplc.json
[
  {
    "id": "4523396ede696287",
    "type": "tab",
    "label": "IIOT WKS - PLC",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "5428b89ea2591679",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Every second",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 1040,
    "y": 420,
    "wires": [
      [
        "4bb490a06e14eb7d"
      ]
    ]
  },
  {
    "id": "1ff2053d92468ffc",
    "type": "function",
    "z": "4523396ede696287",
    "name": "Pump Data Generator",
    "func": "// TEMPERATURE ºC\nconst active_input_temperature = flow.get(\"active_input_temperature\")\nconst active_output_temperature = flow.get(\"active_output_temperature\")\nvar INPUT_TEMPERATURE = 0\nvar OUTPUT_TEMPERATURE = 0\nif (active_input_temperature || active_output_temperature) {\n    const max_temperature = flow.get(\"max_temperature\")\n    const min_temperature = flow.get(\"min_temperature\")\n    INPUT_TEMPERATURE = Math.round((Math.random() * (max_temperature - min_temperature) + min_temperature)*100)\n    if(active_output_temperature){\n        OUTPUT_TEMPERATURE = INPUT_TEMPERATURE + 350\n    }\n    if(!active_input_temperature){\n        INPUT_TEMPERATURE = 0\n    }\n}\nvar msgIT = { 'payload': INPUT_TEMPERATURE / 100}\nvar msgOT = { 'payload': OUTPUT_TEMPERATURE / 100 }\n\n// FLOW RATE m3/h\nconst active_flow_rate = flow.get(\"active_flow_rate\")\nvar FLOW_RATE = 0\nif (active_flow_rate){\n    const max_flow_rate = flow.get(\"max_flow_rate\")\n    const min_flow_rate = flow.get(\"min_flow_rate\")\n    FLOW_RATE = Math.round((Math.random() * (max_flow_rate - min_flow_rate) + min_flow_rate) * 100)\n}\nvar msgFR = { 'payload': FLOW_RATE / 100 }\n\n// PRESSURE bar\nconst active_pressure = flow.get(\"active_pressure\")\nvar PRESSURE = 0\nif (active_pressure) {\n    const max_pressure = flow.get(\"max_pressure\")\n    const min_pressure = flow.get(\"min_pressure\")\n    PRESSURE = Math.round((Math.random() * (max_pressure - min_pressure) + min_pressure) * 10)\n}\nvar msgP = { 'payload': PRESSURE / 10 }\n\n// POWER kW\nconst active_power = flow.get(\"active_power\")\nvar POWER = 0\nif (active_power){\n    const max_power = flow.get(\"max_power\")\n    const min_power = flow.get(\"min_power\")\n    POWER = Math.round((Math.random() * (max_power - min_power) + min_power) * 1000)\n}\nvar msgPW = { 'payload': POWER / 1000 }\n\n// For testing purposes\n// msg = {\n//     'payload':{\n//         'INPUT_TEMPERATURE': INPUT_TEMPERATURE,\n//         'OUTPUT_TEMPERATURE': OUTPUT_TEMPERATURE,\n//         'FLOW_RATE': FLOW_RATE,\n//         'PRESSURE': PRESSURE,\n//         'POWER': POWER\n//     }\n// }\n// return msg;\n\nreturn [msgIT, msgOT, msgFR, msgP, msgPW];\n\n",
    "outputs": 5,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1480,
    "y": 420,
    "wires": [
      [
        "4781c6e1a6469d60"
      ],
      [
        "b33588d7476f1e4f"
      ],
      [
        "c399640c05289ffb"
      ],
      [
        "52e0f765bb4bed19"
      ],
      [
        "8ca3eadbe1d2b7c0"
      ]
    ]
  },
  {
    "id": "e54714f04849a701",
    "type": "ui_template",
    "z": "4523396ede696287",
    "group": "93838edd45852636",
    "name": "PLC Image",
    "order": 8,
    "width": "0",
    "height": "0",
    "format": "<div>\n    <img src=\"https://github.com/JBsCorner/iiot-workshop/blob/main/images/controllino_maxi.png?raw=true\" alt=\"Girl in a jacket\" width=\"500\" height=\"600\">\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "className": "",
    "x": 150,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "29f82e4a4c160c54",
    "type": "ui_numeric",
    "z": "4523396ede696287",
    "name": "Min. Temperature",
    "label": "Min. Temperature",
    "tooltip": "",
    "group": "c8ae69b29db4adfe",
    "order": 1,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "topic",
    "topicType": "msg",
    "format": "{{value}}ºC",
    "min": "30",
    "max": "45",
    "step": "5",
    "className": "",
    "x": 450,
    "y": 180,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "4781c6e1a6469d60",
    "type": "ui_gauge",
    "z": "4523396ede696287",
    "name": "Input Temperature",
    "group": "c8ae69b29db4adfe",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Input Temperature",
    "label": "ºC",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1770,
    "y": 340,
    "wires": []
  },
  {
    "id": "4d4e269d412cfccf",
    "type": "ui_numeric",
    "z": "4523396ede696287",
    "name": "Max. Temperature",
    "label": "Max. Temperature",
    "tooltip": "",
    "group": "c8ae69b29db4adfe",
    "order": 2,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "topic",
    "topicType": "msg",
    "format": "{{value}}ºC",
    "min": "50",
    "max": "70",
    "step": "5",
    "className": "",
    "x": 450,
    "y": 240,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "142780726d392a3a",
    "type": "function",
    "z": "4523396ede696287",
    "name": "Set Limits",
    "func": "flow.set(msg.topic, msg.payload);\n\n\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "a723de2c33f6b211",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Temperature Initial Low Limit",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "min_temperature",
    "payload": "30",
    "payloadType": "num",
    "x": 200,
    "y": 180,
    "wires": [
      [
        "29f82e4a4c160c54"
      ]
    ]
  },
  {
    "id": "74bf5617876b50df",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Temperature Initial High Limit",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "max_temperature",
    "payload": "50",
    "payloadType": "num",
    "x": 200,
    "y": 240,
    "wires": [
      [
        "4d4e269d412cfccf"
      ]
    ]
  },
  {
    "id": "b33588d7476f1e4f",
    "type": "ui_gauge",
    "z": "4523396ede696287",
    "name": "Output Temperature",
    "group": "c8ae69b29db4adfe",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Output Temperature",
    "label": "ºC",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1780,
    "y": 380,
    "wires": []
  },
  {
    "id": "1aeb8e1fb931b895",
    "type": "ui_numeric",
    "z": "4523396ede696287",
    "name": "Min. Flow Rate",
    "label": "Min. Flow Rate",
    "tooltip": "",
    "group": "957fcac0bd0ee6ae",
    "order": 2,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "topic",
    "topicType": "msg",
    "format": "{{value}}ºC",
    "min": "30",
    "max": "195",
    "step": "10",
    "className": "",
    "x": 440,
    "y": 420,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "6c8acb3c459694c9",
    "type": "ui_numeric",
    "z": "4523396ede696287",
    "name": "Max. Flow Rate",
    "label": "Max. Flow Rate",
    "tooltip": "",
    "group": "957fcac0bd0ee6ae",
    "order": 3,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "topic",
    "topicType": "msg",
    "format": "{{value}}ºC",
    "min": "200",
    "max": "240",
    "step": "10",
    "className": "",
    "x": 440,
    "y": 480,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "04134ae394958770",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Flow Rate Initial Low Limit",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "min_flow_rate",
    "payload": "180",
    "payloadType": "num",
    "x": 200,
    "y": 420,
    "wires": [
      [
        "1aeb8e1fb931b895"
      ]
    ]
  },
  {
    "id": "143202187d542b3b",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Flow Rate Initial High Limit",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "max_flow_rate",
    "payload": "240",
    "payloadType": "num",
    "x": 200,
    "y": 480,
    "wires": [
      [
        "6c8acb3c459694c9"
      ]
    ]
  },
  {
    "id": "c399640c05289ffb",
    "type": "ui_gauge",
    "z": "4523396ede696287",
    "name": "Flow Rate",
    "group": "957fcac0bd0ee6ae",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "ºC",
    "format": "{{value}}",
    "min": 0,
    "max": "240",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1740,
    "y": 420,
    "wires": []
  },
  {
    "id": "52e0f765bb4bed19",
    "type": "ui_gauge",
    "z": "4523396ede696287",
    "name": "Pressure",
    "group": "6d8dc64f161b5b3f",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "bar",
    "format": "{{value}}",
    "min": 0,
    "max": "10",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1740,
    "y": 460,
    "wires": []
  },
  {
    "id": "8ca3eadbe1d2b7c0",
    "type": "ui_gauge",
    "z": "4523396ede696287",
    "name": "Power",
    "group": "bbe9bd97d9fdfdfb",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "kW",
    "format": "{{value}}",
    "min": 0,
    "max": "1",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 1730,
    "y": 500,
    "wires": []
  },
  {
    "id": "0619f2677e5a644b",
    "type": "ui_numeric",
    "z": "4523396ede696287",
    "name": "Min. Pressure",
    "label": "Min. Pressure",
    "tooltip": "",
    "group": "6d8dc64f161b5b3f",
    "order": 2,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "topic",
    "topicType": "msg",
    "format": "{{value}}bar",
    "min": "0",
    "max": "6",
    "step": "1",
    "className": "",
    "x": 440,
    "y": 600,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "350ff295e88a0d91",
    "type": "ui_numeric",
    "z": "4523396ede696287",
    "name": "Max. Pressure",
    "label": "Max. Pressure",
    "tooltip": "",
    "group": "6d8dc64f161b5b3f",
    "order": 3,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "topic",
    "topicType": "msg",
    "format": "{{value}}bar",
    "min": "7",
    "max": "10",
    "step": "1",
    "className": "",
    "x": 440,
    "y": 660,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "f165400886c807eb",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Pressure Initial Low Limit",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "min_pressure",
    "payload": "3",
    "payloadType": "num",
    "x": 190,
    "y": 600,
    "wires": [
      [
        "0619f2677e5a644b"
      ]
    ]
  },
  {
    "id": "aef8066ed413239d",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Pressure Initial High Limit",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "max_pressure",
    "payload": "10",
    "payloadType": "num",
    "x": 190,
    "y": 660,
    "wires": [
      [
        "350ff295e88a0d91"
      ]
    ]
  },
  {
    "id": "b9eb4fcbbf3d863f",
    "type": "ui_numeric",
    "z": "4523396ede696287",
    "name": "Min. Power",
    "label": "Min. Power",
    "tooltip": "",
    "group": "bbe9bd97d9fdfdfb",
    "order": 2,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "topic",
    "topicType": "msg",
    "format": "{{value}}kW",
    "min": "0",
    "max": "0.5",
    "step": "0.1",
    "className": "",
    "x": 430,
    "y": 780,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "e82eacd331eddfc2",
    "type": "ui_numeric",
    "z": "4523396ede696287",
    "name": "Max. Power",
    "label": "Max. Power",
    "tooltip": "",
    "group": "bbe9bd97d9fdfdfb",
    "order": 3,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "topic",
    "topicType": "msg",
    "format": "{{value}}kW",
    "min": "0.6",
    "max": "1",
    "step": "0.1",
    "className": "",
    "x": 430,
    "y": 840,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "2a9184fb289477b7",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Power Initial Low Limit",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "min_power",
    "payload": "0.5",
    "payloadType": "num",
    "x": 180,
    "y": 780,
    "wires": [
      [
        "b9eb4fcbbf3d863f"
      ]
    ]
  },
  {
    "id": "81d186109940bee2",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Power Initial High Limit",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "max_power",
    "payload": "0.9",
    "payloadType": "num",
    "x": 190,
    "y": 840,
    "wires": [
      [
        "e82eacd331eddfc2"
      ]
    ]
  },
  {
    "id": "0be475627ec810e4",
    "type": "comment",
    "z": "4523396ede696287",
    "name": "Measurment Simulation Config",
    "info": "",
    "x": 190,
    "y": 60,
    "wires": []
  },
  {
    "id": "cf21f03c0e51e818",
    "type": "comment",
    "z": "4523396ede696287",
    "name": "Data Generation",
    "info": "",
    "x": 1020,
    "y": 320,
    "wires": []
  },
  {
    "id": "4bb490a06e14eb7d",
    "type": "delay",
    "z": "4523396ede696287",
    "name": "Sampling Interval",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": true,
    "outputs": 1,
    "x": 1250,
    "y": 420,
    "wires": [
      [
        "1ff2053d92468ffc"
      ]
    ]
  },
  {
    "id": "44b606e5bc5b6738",
    "type": "function",
    "z": "4523396ede696287",
    "name": "Set Sampling Interval",
    "func": "var updateInterval = msg.payload*1000;\n\nvar msg ={\n    \"rate\": updateInterval\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1600,
    "y": 220,
    "wires": [
      [
        "ecc95eb0a8c177fe"
      ]
    ]
  },
  {
    "id": "bce2b2c5a6f90ae7",
    "type": "comment",
    "z": "4523396ede696287",
    "name": "Sampling Interval",
    "info": "",
    "x": 1020,
    "y": 60,
    "wires": []
  },
  {
    "id": "ecc95eb0a8c177fe",
    "type": "link out",
    "z": "4523396ede696287",
    "name": "Sampling Interval Delay",
    "mode": "link",
    "links": [
      "46bdba0bf7b950d7"
    ],
    "x": 1745,
    "y": 220,
    "wires": []
  },
  {
    "id": "dae9d20f5e88d701",
    "type": "ui_slider",
    "z": "4523396ede696287",
    "name": "",
    "label": "Sampling Interval [s]",
    "tooltip": "",
    "group": "93838edd45852636",
    "order": 0,
    "width": "0",
    "height": "0",
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": "1",
    "max": "10",
    "step": "1",
    "className": "",
    "x": 1340,
    "y": 220,
    "wires": [
      [
        "44b606e5bc5b6738"
      ]
    ]
  },
  {
    "id": "46bdba0bf7b950d7",
    "type": "link in",
    "z": "4523396ede696287",
    "name": "Sampling Interval Delay",
    "links": [
      "ecc95eb0a8c177fe"
    ],
    "x": 1095,
    "y": 380,
    "wires": [
      [
        "4bb490a06e14eb7d"
      ]
    ]
  },
  {
    "id": "f886c681168af58f",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Initialize Sampling Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 1080,
    "y": 120,
    "wires": [
      [
        "dae9d20f5e88d701",
        "44b606e5bc5b6738"
      ]
    ]
  },
  {
    "id": "49abc0e25bf86609",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Flow Rate Initial Activate",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "active_flow_rate",
    "payload": "true",
    "payloadType": "bool",
    "x": 190,
    "y": 540,
    "wires": [
      [
        "dbe412d8253adb0b"
      ]
    ]
  },
  {
    "id": "dbe412d8253adb0b",
    "type": "ui_switch",
    "z": "4523396ede696287",
    "name": "Activate Flow Rate",
    "label": "Active",
    "tooltip": "",
    "group": "957fcac0bd0ee6ae",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 450,
    "y": 540,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "b2931f800be5a121",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Pressure Initial Activate",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "active_pressure",
    "payload": "true",
    "payloadType": "bool",
    "x": 190,
    "y": 720,
    "wires": [
      [
        "f2dcb819c7246050"
      ]
    ]
  },
  {
    "id": "f2dcb819c7246050",
    "type": "ui_switch",
    "z": "4523396ede696287",
    "name": "Activate Pressure",
    "label": "Active",
    "tooltip": "",
    "group": "6d8dc64f161b5b3f",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 450,
    "y": 720,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "97adda0cbe1c3ff5",
    "type": "ui_switch",
    "z": "4523396ede696287",
    "name": "Activate Power",
    "label": "Active",
    "tooltip": "",
    "group": "bbe9bd97d9fdfdfb",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 440,
    "y": 900,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "dc091e4dc1529c91",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Power Initial Activate",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "active_power",
    "payload": "true",
    "payloadType": "bool",
    "x": 180,
    "y": 900,
    "wires": [
      [
        "97adda0cbe1c3ff5"
      ]
    ]
  },
  {
    "id": "3a02f340f722da7e",
    "type": "ui_switch",
    "z": "4523396ede696287",
    "name": "Activate Input Temperature",
    "label": "Active",
    "tooltip": "",
    "group": "c8ae69b29db4adfe",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 480,
    "y": 300,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "d3bae1c1b5b0cdd7",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "In Temperature Initial Activate",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "active_input_temperature",
    "payload": "true",
    "payloadType": "bool",
    "x": 210,
    "y": 300,
    "wires": [
      [
        "3a02f340f722da7e"
      ]
    ]
  },
  {
    "id": "4c8dbc9c3d693bb7",
    "type": "ui_switch",
    "z": "4523396ede696287",
    "name": "Activate Output Temperature",
    "label": "Active",
    "tooltip": "",
    "group": "c8ae69b29db4adfe",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "topic",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 480,
    "y": 360,
    "wires": [
      [
        "142780726d392a3a"
      ]
    ]
  },
  {
    "id": "6ec8505e871142a9",
    "type": "inject",
    "z": "4523396ede696287",
    "name": "Out Temperature Initial Activate",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "active_output_temperature",
    "payload": "true",
    "payloadType": "bool",
    "x": 210,
    "y": 360,
    "wires": [
      [
        "4c8dbc9c3d693bb7"
      ]
    ]
  },
  {
    "id": "93838edd45852636",
    "type": "ui_group",
    "name": "Image",
    "tab": "c2674e3cade1c3fe",
    "order": 1,
    "disp": false,
    "width": "10",
    "collapse": false,
    "className": ""
  },
  {
    "id": "c8ae69b29db4adfe",
    "type": "ui_group",
    "name": "TEMPERATURE",
    "tab": "c2674e3cade1c3fe",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "957fcac0bd0ee6ae",
    "type": "ui_group",
    "name": "FLOW RATE",
    "tab": "c2674e3cade1c3fe",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "6d8dc64f161b5b3f",
    "type": "ui_group",
    "name": "PRESSURE",
    "tab": "c2674e3cade1c3fe",
    "order": 5,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "bbe9bd97d9fdfdfb",
    "type": "ui_group",
    "name": "POWER",
    "tab": "c2674e3cade1c3fe",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "c2674e3cade1c3fe",
    "type": "ui_tab",
    "name": "PLC",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
