code/node-red/nodered_modbus_client.json
[
  {
    "id": "6fa3a5a34d352ced",
    "type": "tab",
    "label": "IIOT WKS - MODBUS CLIENT",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "fa7d0feebe6f64a8",
    "type": "debug",
    "z": "6fa3a5a34d352ced",
    "name": "Print Readings",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 180,
    "wires": []
  },
  {
    "id": "8545c6744cd2b62a",
    "type": "modbus-flex-getter",
    "z": "6fa3a5a34d352ced",
    "name": "Modbus Read",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "server": "afc1ae1ab2902065",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 500,
    "y": 220,
    "wires": [
      [
        "fa7d0feebe6f64a8"
      ],
      [
        "603944d6c9d05068"
      ]
    ]
  },
  {
    "id": "603944d6c9d05068",
    "type": "modbus-response",
    "z": "6fa3a5a34d352ced",
    "name": "",
    "registerShowMax": 20,
    "x": 810,
    "y": 260,
    "wires": []
  },
  {
    "id": "fca6fcb70165d453",
    "type": "comment",
    "z": "6fa3a5a34d352ced",
    "name": "MODBUS READ",
    "info": "",
    "x": 100,
    "y": 80,
    "wires": []
  },
  {
    "id": "e12c239d4184e266",
    "type": "inject",
    "z": "6fa3a5a34d352ced",
    "name": "Read Sampling Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "5",
    "topic": "",
    "payload": "{\"fc\":3,\"unitid\":1,\"address\":20,\"quantity\":1}",
    "payloadType": "json",
    "x": 160,
    "y": 280,
    "wires": [
      [
        "8545c6744cd2b62a"
      ]
    ]
  },
  {
    "id": "7f5e3e59a06f48db",
    "type": "inject",
    "z": "6fa3a5a34d352ced",
    "name": "Read Sensor Activation Status",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "5",
    "topic": "",
    "payload": "{\"fc\":1,\"unitid\":1,\"address\":0,\"quantity\":5}",
    "payloadType": "json",
    "x": 180,
    "y": 160,
    "wires": [
      [
        "8545c6744cd2b62a"
      ]
    ]
  },
  {
    "id": "fa1d35bff46abde5",
    "type": "inject",
    "z": "6fa3a5a34d352ced",
    "name": "Read Sensors",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "5",
    "topic": "",
    "payload": "{\"fc\":4,\"unitid\":1,\"address\":10,\"quantity\":5}",
    "payloadType": "json",
    "x": 130,
    "y": 220,
    "wires": [
      [
        "8545c6744cd2b62a"
      ]
    ]
  },
  {
    "id": "87f651ab078fd8a7",
    "type": "comment",
    "z": "6fa3a5a34d352ced",
    "name": "MODBUS WRITE",
    "info": "",
    "x": 100,
    "y": 380,
    "wires": []
  },
  {
    "id": "e0bc20c196fa46e0",
    "type": "inject",
    "z": "6fa3a5a34d352ced",
    "name": "Set Random Update Interval",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 560,
    "wires": [
      [
        "432af576c31a6112"
      ]
    ]
  },
  {
    "id": "e666cbe41ef64496",
    "type": "inject",
    "z": "6fa3a5a34d352ced",
    "name": "Enable All Sensors",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "5",
    "topic": "",
    "payload": "{\"fc\":15,\"unitid\":1,\"address\":0,\"quantity\":5,\"value\":[true,true,true,true,true]}",
    "payloadType": "json",
    "x": 150,
    "y": 440,
    "wires": [
      [
        "2ed8ff6e5b32b628"
      ]
    ]
  },
  {
    "id": "ff5fda852c7a3d31",
    "type": "inject",
    "z": "6fa3a5a34d352ced",
    "name": "Disable All Sensors",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "5",
    "topic": "",
    "payload": "{\"fc\":15,\"unitid\":1,\"address\":0,\"quantity\":5,\"value\":[false,false,false,false,false]}",
    "payloadType": "json",
    "x": 150,
    "y": 500,
    "wires": [
      [
        "2ed8ff6e5b32b628"
      ]
    ]
  },
  {
    "id": "2ed8ff6e5b32b628",
    "type": "modbus-flex-write",
    "z": "6fa3a5a34d352ced",
    "name": "Modbus Write",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "server": "afc1ae1ab2902065",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 620,
    "y": 500,
    "wires": [
      [
        "ba0c7e049a82f409"
      ],
      [
        "7041e5692138a821"
      ]
    ]
  },
  {
    "id": "ba0c7e049a82f409",
    "type": "debug",
    "z": "6fa3a5a34d352ced",
    "name": "Print Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 460,
    "wires": []
  },
  {
    "id": "7041e5692138a821",
    "type": "modbus-response",
    "z": "6fa3a5a34d352ced",
    "name": "",
    "registerShowMax": 20,
    "x": 850,
    "y": 540,
    "wires": []
  },
  {
    "id": "432af576c31a6112",
    "type": "function",
    "z": "6fa3a5a34d352ced",
    "name": "Write Coil",
    "func": "// Generate random value\nlet randomIndex = Math.floor(Math.random() * 9) + 1;\nlet randomUpdateInterval = randomIndex * 1000;\n\nmsg.payload = {\n    'fc': 6, // function code\n    'unitid': 1,\n    'address': 20,\n    'quantity': 1,\n    'value': randomUpdateInterval\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 560,
    "wires": [
      [
        "2ed8ff6e5b32b628"
      ]
    ]
  },
  {
    "id": "afc1ae1ab2902065",
    "type": "modbus-client",
    "name": "PLC Modbus Server",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "localhost",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  }
]
