code/node-red/virtual_plc.json
[{"id":"4523396ede696287","type":"tab","label":"IIOT WKS - PUMP PLC","disabled":false,"info":"","env":[]},{"id":"5428b89ea2591679","type":"inject","z":"4523396ede696287","name":"Every second","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","x":160,"y":820,"wires":[["4bb490a06e14eb7d"]]},{"id":"1ff2053d92468ffc","type":"function","z":"4523396ede696287","name":"Pump Data Generator","func":"// TEMPERATURE ºC\nconst max_temperature = flow.get(\"max_temperature\")\nconst min_temperature = flow.get(\"min_temperature\")\nvar INPUT_TEMPERATURE = Math.round((Math.random() * (max_temperature - min_temperature) + min_temperature)*100)\nvar OUTPUT_TEMPERATURE = INPUT_TEMPERATURE + 350\nvar msgIT = { 'payload': INPUT_TEMPERATURE/100}\nvar msgOT = { 'payload': OUTPUT_TEMPERATURE / 100 }\n\n// FLOW RATE m3/h\nconst max_flow_rate = flow.get(\"max_flow_rate\")\nconst min_flow_rate = flow.get(\"min_flow_rate\")\nvar FLOW_RATE = Math.round((Math.random() * (max_flow_rate - min_flow_rate) + min_flow_rate)*100)\nvar msgFR = { 'payload': FLOW_RATE / 100 }\n\n// PRESSURE bar\nconst max_pressure = flow.get(\"max_pressure\")\nconst min_pressure = flow.get(\"min_pressure\")\nvar PRESSURE = Math.round((Math.random() * (max_pressure - min_pressure) + min_pressure)*10)\nvar msgP = { 'payload': PRESSURE / 10 }\n\n// POWER kW\nconst max_power = flow.get(\"max_power\")\nconst min_power = flow.get(\"min_power\")\nvar POWER = Math.round((Math.random() * (max_power - min_power) + min_power)*1000)\nvar msgPW = { 'payload': POWER / 1000 }\n\n// For testing purposes\n// msg = {\n//     'payload':{\n//         'INPUT_TEMPERATURE': INPUT_TEMPERATURE,\n//         'OUTPUT_TEMPERATURE': OUTPUT_TEMPERATURE,\n//         'FLOW_RATE': FLOW_RATE,\n//         'PRESSURE': PRESSURE,\n//         'POWER': POWER\n//     }\n// }\n// return msg;\n\n\n\nmsg.payload = {\n    'fc': 16, // function code\n    'unitid': 1,\n    'address': 0,\n    'quantity': 5,\n    'value': [INPUT_TEMPERATURE,OUTPUT_TEMPERATURE,FLOW_RATE,PRESSURE,POWER]\n}\nreturn [msgIT, msgOT, msgFR, msgP, msgPW];\n\n","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":820,"wires":[["4781c6e1a6469d60"],["b33588d7476f1e4f"],["c399640c05289ffb"],["52e0f765bb4bed19"],["8ca3eadbe1d2b7c0"]]},{"id":"e54714f04849a701","type":"ui_template","z":"4523396ede696287","group":"93838edd45852636","name":"PLC Image","order":8,"width":"0","height":"0","format":"<div>\n    <img src=\"https://github.com/JBsCorner/iiot-workshop/blob/main/images/controllino_maxi.png?raw=true\" alt=\"Girl in a jacket\" width=\"500\" height=\"600\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":150,"y":120,"wires":[[]]},{"id":"29f82e4a4c160c54","type":"ui_numeric","z":"4523396ede696287","name":"Min. Temperature","label":"Min. Temperature","tooltip":"","group":"c8ae69b29db4adfe","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}ºC","min":"30","max":"45","step":"5","className":"","x":450,"y":180,"wires":[["142780726d392a3a"]]},{"id":"4781c6e1a6469d60","type":"ui_gauge","z":"4523396ede696287","name":"Input Temperature","group":"c8ae69b29db4adfe","order":2,"width":0,"height":0,"gtype":"gage","title":"Input Temperature","label":"ºC","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":890,"y":740,"wires":[]},{"id":"4d4e269d412cfccf","type":"ui_numeric","z":"4523396ede696287","name":"Max. Temperature","label":"Max. Temperature","tooltip":"","group":"c8ae69b29db4adfe","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}ºC","min":"50","max":"70","step":"5","className":"","x":450,"y":240,"wires":[["142780726d392a3a"]]},{"id":"142780726d392a3a","type":"function","z":"4523396ede696287","name":"Set Limits","func":"flow.set(msg.topic, msg.payload);\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":380,"wires":[[]]},{"id":"a723de2c33f6b211","type":"inject","z":"4523396ede696287","name":"Temperature Initial Low Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"min_temperature","payload":"30","payloadType":"num","x":200,"y":180,"wires":[["29f82e4a4c160c54"]]},{"id":"74bf5617876b50df","type":"inject","z":"4523396ede696287","name":"Temperature Initial High Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"max_temperature","payload":"50","payloadType":"num","x":200,"y":240,"wires":[["4d4e269d412cfccf"]]},{"id":"b33588d7476f1e4f","type":"ui_gauge","z":"4523396ede696287","name":"Output Temperature","group":"c8ae69b29db4adfe","order":2,"width":0,"height":0,"gtype":"gage","title":"Output Temperature","label":"ºC","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":900,"y":780,"wires":[]},{"id":"1aeb8e1fb931b895","type":"ui_numeric","z":"4523396ede696287","name":"Min. Flow Rate","label":"Min. Flow Rate","tooltip":"","group":"957fcac0bd0ee6ae","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}ºC","min":"30","max":"195","step":"10","className":"","x":440,"y":300,"wires":[["142780726d392a3a"]]},{"id":"6c8acb3c459694c9","type":"ui_numeric","z":"4523396ede696287","name":"Max. Flow Rate","label":"Max. Flow Rate","tooltip":"","group":"957fcac0bd0ee6ae","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}ºC","min":"200","max":"240","step":"10","className":"","x":440,"y":360,"wires":[["142780726d392a3a"]]},{"id":"04134ae394958770","type":"inject","z":"4523396ede696287","name":"Flow Rate Initial Low Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"min_flow_rate","payload":"180","payloadType":"num","x":200,"y":300,"wires":[["1aeb8e1fb931b895"]]},{"id":"143202187d542b3b","type":"inject","z":"4523396ede696287","name":"Flow Rate Initial High Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"max_flow_rate","payload":"240","payloadType":"num","x":200,"y":360,"wires":[["6c8acb3c459694c9"]]},{"id":"c399640c05289ffb","type":"ui_gauge","z":"4523396ede696287","name":"Flow Rate","group":"957fcac0bd0ee6ae","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":860,"y":820,"wires":[]},{"id":"52e0f765bb4bed19","type":"ui_gauge","z":"4523396ede696287","name":"Pressure","group":"6d8dc64f161b5b3f","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"bar","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":860,"y":860,"wires":[]},{"id":"8ca3eadbe1d2b7c0","type":"ui_gauge","z":"4523396ede696287","name":"Power","group":"bbe9bd97d9fdfdfb","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"kW","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":900,"wires":[]},{"id":"0619f2677e5a644b","type":"ui_numeric","z":"4523396ede696287","name":"Min. Pressure","label":"Min. Pressure","tooltip":"","group":"6d8dc64f161b5b3f","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}bar","min":"0","max":"6","step":"1","className":"","x":440,"y":420,"wires":[["142780726d392a3a"]]},{"id":"350ff295e88a0d91","type":"ui_numeric","z":"4523396ede696287","name":"Max. Pressure","label":"Max. Pressure","tooltip":"","group":"6d8dc64f161b5b3f","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}bar","min":"7","max":"10","step":"1","className":"","x":440,"y":480,"wires":[["142780726d392a3a"]]},{"id":"f165400886c807eb","type":"inject","z":"4523396ede696287","name":"Pressure Initial Low Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"min_pressure","payload":"3","payloadType":"num","x":190,"y":420,"wires":[["0619f2677e5a644b"]]},{"id":"aef8066ed413239d","type":"inject","z":"4523396ede696287","name":"Pressure Initial High Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"max_pressure","payload":"10","payloadType":"num","x":190,"y":480,"wires":[["350ff295e88a0d91"]]},{"id":"b9eb4fcbbf3d863f","type":"ui_numeric","z":"4523396ede696287","name":"Min. Power","label":"Min. Power","tooltip":"","group":"bbe9bd97d9fdfdfb","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}kW","min":"0","max":"0.5","step":"0.1","className":"","x":430,"y":540,"wires":[["142780726d392a3a"]]},{"id":"e82eacd331eddfc2","type":"ui_numeric","z":"4523396ede696287","name":"Max. Power","label":"Max. Power","tooltip":"","group":"bbe9bd97d9fdfdfb","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}kW","min":"0.6","max":"1","step":"0.1","className":"","x":430,"y":600,"wires":[["142780726d392a3a"]]},{"id":"2a9184fb289477b7","type":"inject","z":"4523396ede696287","name":"Power Initial Low Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"min_power","payload":"0.5","payloadType":"num","x":180,"y":540,"wires":[["b9eb4fcbbf3d863f"]]},{"id":"81d186109940bee2","type":"inject","z":"4523396ede696287","name":"Power Initial High Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"max_power","payload":"0.9","payloadType":"num","x":190,"y":600,"wires":[["e82eacd331eddfc2"]]},{"id":"0be475627ec810e4","type":"comment","z":"4523396ede696287","name":"Measurment Simulation Config","info":"","x":190,"y":60,"wires":[]},{"id":"cf21f03c0e51e818","type":"comment","z":"4523396ede696287","name":"Data Generation","info":"","x":140,"y":700,"wires":[]},{"id":"4bb490a06e14eb7d","type":"delay","z":"4523396ede696287","name":"Sampling Interval","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":true,"outputs":1,"x":370,"y":820,"wires":[["1ff2053d92468ffc"]]},{"id":"44b606e5bc5b6738","type":"function","z":"4523396ede696287","name":"Set Sampling Interval","func":"var updateInterval = msg.payload*1000;\n\nvar msg ={\n    \"rate\": updateInterval\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":220,"wires":[["ecc95eb0a8c177fe"]]},{"id":"bce2b2c5a6f90ae7","type":"comment","z":"4523396ede696287","name":"Sampling Interval","info":"","x":880,"y":60,"wires":[]},{"id":"ecc95eb0a8c177fe","type":"link out","z":"4523396ede696287","name":"Sampling Interval Delay","mode":"link","links":["46bdba0bf7b950d7"],"x":1605,"y":220,"wires":[]},{"id":"dae9d20f5e88d701","type":"ui_slider","z":"4523396ede696287","name":"","label":"Sampling Interval [s]","tooltip":"","group":"93838edd45852636","order":0,"width":"0","height":"0","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"10","step":"1","className":"","x":1200,"y":220,"wires":[["44b606e5bc5b6738"]]},{"id":"46bdba0bf7b950d7","type":"link in","z":"4523396ede696287","name":"Sampling Interval Delay","links":["ecc95eb0a8c177fe"],"x":215,"y":780,"wires":[["4bb490a06e14eb7d"]]},{"id":"f886c681168af58f","type":"inject","z":"4523396ede696287","name":"Initialize Sampling Interval","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"1","payloadType":"num","x":940,"y":120,"wires":[["dae9d20f5e88d701","44b606e5bc5b6738"]]},{"id":"93838edd45852636","type":"ui_group","name":"Image","tab":"c2674e3cade1c3fe","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"c8ae69b29db4adfe","type":"ui_group","name":"TEMPERATURE","tab":"c2674e3cade1c3fe","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"957fcac0bd0ee6ae","type":"ui_group","name":"FLOW RATE","tab":"c2674e3cade1c3fe","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6d8dc64f161b5b3f","type":"ui_group","name":"PRESSURE","tab":"c2674e3cade1c3fe","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bbe9bd97d9fdfdfb","type":"ui_group","name":"POWER","tab":"c2674e3cade1c3fe","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c2674e3cade1c3fe","type":"ui_tab","name":"PLC","icon":"dashboard","disabled":false,"hidden":false}]
